<section class="contacts">
  <div class="container contacts__container">
    <div class="contacts__text">
      <h2 class="title contacts__title">Контакты</h2>
      <div class="contacts__item">
        <h3 class="contacts__subtitle">
          Главный офис
          <span class="tooltip">
            <button class="tooltip__btn btn-reset" aria-describedby="office" aria-label="Описание адреса">
              <svg>
                <use xlink:href="img/sprite.svg#tooltip"></use>
              </svg>
            </button>
            <span class="tooltip__txt" role="tooltip" id="office">
              <span class="visually-hidden">Тултип: </span>
              Адрес и телефон для корреспонденции, инвесторов. Вопросы о доставке, качестве обслуживания и товара
              просьба задавать в отдел продаж
            </span>
          </span>
        </h3>
        <a href="" class="contacts__phone">+7 800 789 89 89</a>
        <span class="contacts__address">г. Санкт-Петербург, Комсомольская, 43 к1</span>
      </div>
      <div class="contacts__item">
        <h3 class="contacts__subtitle">Отдел продаж</h3>
        <a href="" class="contacts__phone">+7 800 789 89 89</a>
        <span class="contacts__address">г. Санкт-Петербург, Комсомольская, 43 к1</span>
      </div>
      <ul class="social list-reset">
        <li class="social__item"><a href="#" class="social__link social__link--vk" aria-label="Мы во Вконтакте"></a>
        </li>
        <li class="social__item"><a href="#" class="social__link social__link--insta" aria-label="Мы в Инстаграме"></a>
        </li>
      </ul>
    </div>
    <div class="contacts__map" id="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d37494223.23909492!2d103!3d55!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1666462783353!5m2!1sru!2sru"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
