<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>MaxGraph New Site</title>
  <link rel="preload" href="fonts/MullerRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link href=" https://cdn.bootcss.com/noUiSlider/8.5.1/nouislider.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/5.3.9/simplebar.min.css"integrity="sha512-m+TQwLj4L9dvD524dbvw85WDMEEW93DUXK3eSARQjz+GBjdfR76ahhu212hrK4BDK7yeR8WoDwcb2aXrZuSWUw==" crossorigin="anonymous" referrerpolicy="no-referrer" >
  <!-- https://cdn.bootcss.com/noUiSlider/8.5.1/nouislider.min.css -->
  <link rel="stylesheet" href="css/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/5.3.9/simplebar.min.js" integrity="sha512-xAAb5tNhb12Tx88hMa8IdJI+3pzHBk4V4sQ4w8FIFkXEvlh1PYYma0oPnIENPYeLeblWavY7AlkJj3XzJlif0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src=" https://cdn.bootcss.com/noUiSlider/8.5.1/nouislider.js"></script>
  <!-- https://cdn.bootcss.com/noUiSlider/8.5.1/nouislider.js -->

  <script defer src="js/main.js"></script>
</head>
