<div class="graph-modal">
  <div class="graph-modal__container prod-modal" role="dialog" aria-modal="true" data-graph-target="prod-modal">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="modal__content">
      <div class="prod-modal__top">
        <div class="modal-slider">
          <div class="modal-slider__container">

            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="img/product-image.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="img/product-image.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="img/product-image.jpg" alt="">
              </div>
            </div>

          </div>
          <div class="modal-preview">
            <div class="modal-preview__item" data-index="0">
              <img src="img/product-image.jpg" alt="">
            </div>
            <div class="modal-preview__item" data-index="1">
              <img src="img/product-image.jpg" alt="">
            </div>
            <div class="modal-preview__item" data-index="2">
              <img src="img/product-image.jpg" alt="">
            </div>
          </div>

        </div>
        <div class="modal-info">
          <div class="modal-info__top">
            <span class="modal-info__vendor">
              Артикул:879876
            </span>
            <span class="modal-info__quantity">
              В наличии: <span>13 шт</span>
            </span>
          </div>
          <h3 class="modal-info__title">
            Женские кроссовки Puma Force 1 Shadow
          </h3>
          <div class="modal-info__rate">
            <img src="img/Star.svg" alt="Рейтинг 5 из 5">
            <img src="img/Star.svg" alt="">
            <img src="img/Star.svg" alt="">
            <img src="img/Star.svg" alt="">
            <img src="img/Star.svg" alt="">
          </div>
          <div class="modal-info__sizes">
            <span class="modal-info__subtitle">Выберите размер</span>
            <ul class="list-reset modal-info__sizes-list modal-sizes">

              <li class="modal-sizes__item">
                <button class="modal-sizes__btn">36</button>
              </li>
              <li class="modal-sizes__item">
                <button class="modal-sizes__btn">36</button>
              </li>
              <li class="modal-sizes__item">
                <button class="modal-sizes__btn">36</button>
              </li>
              <li class="modal-sizes__item">
                <button class="modal-sizes__btn">36</button>
              </li>
              <li class="modal-sizes__item">
                <button class="modal-sizes__btn">36</button>
              </li>
            </ul>
          </div>
          <div class="modal-info__price">
            <span class="modal-info__current-price"> 19 789 p</span>
            <span class="modal-info__old-price"> 20 785 p</span>
          </div>
          <button class="btn btn-reset btn--primary modal-info__order">
            Заказать
          </button>
          <ul class="modal-info__note modal-note list-reset">
            <li class="modal-note__item">
              Бесплатная доставка до двери
            </li>
            <li class="modal-note__item">
              Оплата заказа при получении
            </li>
            <li class="modal-note__item">
              Обмен в течении двух недель
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

